<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Perfume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container add-form-container">
        <h1>Add Perfume</h1>
        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required><br>

            <label for="brand">Brand:</label>
            <input type="text" name="brand" id="brand" required><br>

            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="0.01" required><br>

            <label>Gender:</label><br>
            <select name="gender" id="gender" required>
                {% for gender in config['genders'] %}
                    <option value="{{ gender['value'] }}">{{ gender['label'] }}</option>
                {% endfor %}
            </select><br>

            <label>Season:</label><br>
            <div class="checkbox-group">
                {% for season in config['seasons'] %}
                    <label>
                        <input type="checkbox" name="season" value="{{ season['value'] }}"> {{ season['label'] }}
                    </label>
                {% endfor %}
            </div><br>

            <label>Types:</label><br>
            <div class="checkbox-group">
                {% for t in config['types'] %}
                    <label>
                        <input type="checkbox" name="type" value="{{ t['value'] }}"> {{ t['label'] }}
                    </label>
                {% endfor %}
            </div><br>
            <label>Concentration:</label><br>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="concentration" value="edt"> EDT
                </label>
                <label>
                    <input type="checkbox" name="concentration" value="edp"> EDP
                </label>
                <label>
                    <input type="checkbox" name="concentration" value="parfum"> Parfum
                </label>
            </div><br>
            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>